# MongoDB
MONGODB_URI=mongodb://localhost:27017/grupo-sago

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-password-de-aplicacion
EMAIL_FROM=noreply@gruposago.com

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
